body {
    margin: 0;
    padding: 0;
    font-family: 'Arimo', sans-serif;
}

.html {
    font-size: 20px;
}

.logo {
    margin-bottom: 25px;
}

.logo a {
    display: inline-block;
    text-decoration: none;
    font-size: 4rem;
    width: 100%;
}

.content {
    margin: 0 25px;
}

.header {
    margin-bottom: 25px;
}

.start {
    color: black;
}

.end {
    color: #4BCAFF;
}

.navigation {
    height: 40px;
    padding-left: 0;
    margin: 0;
}

.navigation-items {
    display: block;
    background-color: #35444F;
    height: 100%;
    text-align: center;
    float: left;
    margin-right: 1px;
}

.navigation-items:first-child {
    width: 25%;
}

.navigation-items:nth-child(2) {
    width: 15%;
}

.navigation-items:nth-child(3) {
    width: 25%;
}

.navigation-items:nth-child(4) {
    width: calc(35% - 3px);
}

.navigation-items:last-child {
    margin-right: 0;
}

.navigation-items a {
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    vertical-align: bottom;
}

.navigation-items a div {
    margin-top: 0.7rem;
}

.navigation-items:hover {
    background-color: #222F3A;
}

.conteiner {
    height: calc(100% - 175px - 50px);
    float: left;
    vertical-align: top;
}

.navigation-menu {
    height: 306px;
    width: 27%;
    border: 1px solid #35444F;
    float: left;
    list-style: none;
    box-sizing: border-box;
}

.menu-items {
    list-style: none;
    display: inline-block;
    height: 20%;
    width: 100%;
    overflow: hidden;
}

.menu-items a:hover {
    background-color: #DBDBDB;
    padding-left: 3rem;
}

.menu {
    padding: 0;
    margin: 0;
}

.menu-items a {
    text-decoration: none;
    color: #55636D;
    display: inline-block;
    font-size: 1.4rem;
    width: 100%;
    height: 100%;
    padding: 1rem 1.5rem;
}

.image {
    display: inline-block;
    float: right;
    height: 500px;
    width: 70%;
    text-align: center;
    border: 1px solid #35444F;
}

.image img {
    padding: 8%;
}

.description {
    float: right;
    width: 70%;
    text-align: justify;
}

.description p {
    padding: 0.5rem 1rem;
}

.footer {
    width: 100%;
}

.footer-nav {
    background-color: #B4B7BA;
    list-style: none;
    float: left;
    padding: 0 2.5rem 1rem 1rem;
    width: 100%;
    box-sizing: border-box;
}

.footer ul {
    margin: 0;
    box-sizing: border-box;
}

.footer-nav-items {
    display: inline-block;
    padding-top: 0.8rem;

}

.footer-nav-items a {
    display: inline-block;
    text-decoration: none;
    color: #0C1927;
    font-size: 1.4rem;
    padding: 0 1rem 0;
}

.copyright {
    color: #0C1927;
    font-size: 1.2rem;
    float: right;
    padding-top: 0.9rem;
}

.footer-nav-items a:hover {
    color: #3181A6;
    text-decoration: underline;
}